Source: hpt
Section: contrib/mail
Priority: optional
Maintainer: Joerg Jaspert (JJ) <joerg@goliathbbs.dnsalias.net>
Build-Depends: debhelper (>> 3.0.0), libsmapi2-dev(>=2.1.0-1), libfidoconf0-dev(>= 0.13-1), libperl-dev
Standards-Version: 3.5.2

Package: hpt
Architecture: any
Depends: ${shlibs:Depends}
Description: Highly Portable (Performance ?) FTN Message Tosser
 HPT is a Fidonet message tosser and packer with areafix.
 .
 Features of HPT:
  tossing packets of 2, 2.0 & 2+ types
  supporting of Msg, Squish and Jam message bases
  posting to net & echo areas
  areafix (on the fly, from command line, limit for areas...)
  autocreate on the fly
  forward requests
  pause and autopause for links
  linking of net & echo areas
  carbon copy
  groups & levels for personal and public access to echo areas
  powerful dupe checker
  link defaults

