#!/usr/bin/make -f
# $Id$
#
# Sample debian/rules that uses debhelper.
# GNU copyright 1997 to 1999 by Joey Hess.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

# This is the debhelper compatability version to use.
export DEBIAN=1
export PACKAGE=hpt
# Next Line to build debug-versions !
# export DEB_BUILD_OPTIONS=nostrip

build: build-stamp
build-stamp:
	dh_testdir
	# Add here commands to compile the package.
	$(MAKE)
	touch build-stamp

clean:
	dh_testdir
	dh_testroot
	rm -f build-stamp
	-$(MAKE) distclean
	-cd doc ;\
	$(MAKE) distclean
	dh_clean

install: build
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs
	# Add here commands to install the package into debian/hpt.
	$(MAKE) install DESTDIR=$(CURDIR)/debian/$(PACKAGE)
	-cp config/config config/path config/links config/areas \
	    filter.pl debian/$(PACKAGE)/etc/husky
	-cp misc/areafix.hlp $(CURDIR)/debian/$(PACKAGE)/etc/husky
	-cp misc/* $(CURDIR)/debian/$(PACKAGE)/usr/share/doc/hpt/misc
	-cp misc/hpt_ro/* $(CURDIR)/debian/$(PACKAGE)/usr/share/doc/hpt/misc/hpt_ro
	-cp misc/makeavl/* $(CURDIR)/debian/$(PACKAGE)/usr/share/doc/hpt/misc/makeavl
	rm -f $(CURDIR)/debian/$(PACKAGE)/usr/share/doc/hpt/misc/*.hlp
	cd doc ; \
	make all install DESTDIR=$(CURDIR)/debian/$(PACKAGE)
	rm -f $(CURDIR)/debian/$(PACKAGE)/usr/share/info/dir*


# Build architecture-independent files here.
binary-indep: build install
# We have nothing to do by default.

# Build architecture-dependent files here.
binary-arch: build install
	dh_testdir
	dh_testroot
#	dh_installdebconf	
	dh_installdocs
	dh_installexamples
	dh_installmenu
	dh_installcron
	dh_installman
	dh_installinfo
#	dh_undocumented
	dh_installchangelogs ChangeLog
	dh_link
	dh_strip
	dh_compress
	dh_fixperms
	dh_makeshlibs
	dh_installdeb
#	dh_perl
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install
